<configuration>
  <connectionStrings>
<!-- 
    <add name="SanjelData" connectionString="Data Source=Sanjel25\App;Initial Catalog=SanjelData;User ID =eservice6;Password=Cg!Aw@Vm#2018" providerName="System.Data.SqlClient" />  
    <add name="SanjelData" connectionString="Data Source=sanjel23\App;Initial Catalog=SanjelData;User ID =eservice6;Password=sanjel" providerName="System.Data.SqlClient" />
-->

    <add name="SanjelData" connectionString="Data Source=Sanjel25\App;Initial Catalog=SanjelData;User ID =eservice6;Password=Cg!Aw@Vm#2018" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>

    <add key="applicationContext" value="production" />
    <!-- <add key="EServiceApiAddress" value="http://Sanjel04.snj.local/eserviceMDM.webapi/6.6.3.0/" /> -->
    <add key="EServiceApiAddress" value="http://Sanjel04.snj.local/eserviceMDM.webapi/6.8.1.11/" />

    <!--    
    <add key="cachePath" value="C:\EServiceR6Data" /> 
    <add key="timeInterval" value="180000"/>
-->

  </appSettings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>